---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Notifications">
  <main>
    <section>
      <h1>Notifications</h1>
      <p>
        Check-in successfully submitted!
        <a href="/">Home</a>
      </p>
      <button id="notifications">Check permissions</button>
    </section>
  </main>
  <script is:inline>
    const button = document.getElementById("notifications");
    button.addEventListener("click", () => {
      console.log("here");
      Notification.requestPermission().then((result) => {
        console.log("inner");
        if (result === "granted") {
            console.log("Notification request granted");
        } else {
            console.log("Notification request not granted");
        }
      });
    });
  </script>
</Layout>

<style>
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80dvh;
  }
  section {
    max-width: 310px;
    min-width: 280px;
    min-height: 310px;
    margin: auto;
    background-image: var(--gradient-9), var(--noise-3);
    border-radius: var(--radius-3);

    padding: 1rem;
    text-align: center;
  }
</style>
